# Ignore Project Info
.idea/

# Ignore Libraries
node_modules/

# Ignore Build Files
dist/
src/papers
src/blog.config.json

# Ignore Template Build Files
src/templates/**/dist
src/templates/**/gulpfile.js

# Ignore Others
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
npm-debug.log